@font-face {
  font-family: "Red-Hat-Display";
  src: url("../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Mukta_Mahee";
  src: url("../fonts/Mukta_Mahee/MuktaMahee-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red-Hat-Display", sans-serif;
}

body {
  background-color: #F6F5F5 !important;
}

.clr-bcp{
  color: #012EA0;
}

.title-bcp{
  font-family: "Mukta_Mahee", sans-serif;
}

.bg-bcp{
  background: rgb(1,46,160);
  background: linear-gradient(90deg, rgba(1,46,160,1) 60%, rgba(79,30,159,0.9) 78%, rgba(176,9,136,0.8) 88%, rgba(255,81,0,0.9) 95%);
}

section{
  padding-top: 25px;
  font-weight: 500;
}

h1 {
  font-size: 2rem !important;
  color: #F6F5F5 !important;
  padding-top: 5px;
}

h2 {
  padding-bottom: 16px;
}

.container ul {
  padding-left: 15px;
}

ul li {
  padding-bottom: 5px;
  font-size: 1rem;
  list-style-type: none;
}

.box-question {
  padding: 25px 25px;
  border: white 1px solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(64, 103, 158, 0.3);
}

ol {
  list-style: none;
}


.lista-principal-indice {
  padding-left: 0;
}

/*  */

#chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  z-index: 1000;
}

#chatbot-header {
  background-color: rgb(1,46,160);
  color: white;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#chatbot-body {
  padding: 10px;
}

#chat-messages {
  height: 350px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 5px;
}

#chat-input {
  width: calc(100%-70px);
  padding: 5px;
}

.message-user {
  color: #300;
  background-color: #f0f0f0;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 4px;
  text-align: left;
}

.message-bot {
  color: white;
  background-color: #007bff;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 4px;
  text-align: left;
}
